web/Apply/xml/a.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cid" type="xs:unsignedByte" />
              <xs:element name="cname" type="xs:string" />
              <xs:element name="adnum" type="xs:string" />
              <xs:element name="grade" type="xs:string" />
              <xs:element name="dob" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="address" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>